/*---------- Common CSS ----------*/
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
.container {
  padding: 42px 123px 42px 156px;
}

/*---------- Nav menu -----------*/
.main-header {
  background: #2d25a0;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 42px 123px 42px 156px;
}
.nav-menu a {
  text-decoration: none;
  color: white;
  margin-right: 40px;
}
.mobile-btn {
  visibility: hidden;
}
.btn a {
  background: #e02c6d;
  padding: 10px 30px;
  text-decoration: none;
  color: white;
}

.btn a:hover {
  background: black;
}
.btn .fa-sign-in-alt {
  padding-right: 8px;
  text-align: center;
}

/*---------- hero-section ----------*/
.hero-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 102px;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 70px;
}
.hero-section .hero-left .title {
  font-size: 4em;
  color: white;
}
.hero-left a {
  background: #e02c6d;
  padding: 10px 30px;
  text-decoration: none;
  color: white;
}
.hero-left a:hover {
  background: black;
}
.hero-section .hero-right img {
  width: 96%;
  transition: 0.3s ease-in;
  cursor: pointer;
}
.hero-section .hero-right img:hover {
  transform: scale(1.1);
}

/*----------- Player Section ----------*/
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  grid-row-gap: 30px;
  grid-column-gap: 27px;
  padding: 60px 180px;
}

.player {
  background-color: white;
  padding: 15px;
  box-shadow: 10px 10px 40px gainsboro;
}

.player .player-image img {
  width: 100%;
  transition: 0.2s ease-in-out;
}
.player .player-image:hover img {
  transform: scale(1.1);
}

/*----------Hight Light Section --------*/
.highlight-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 66px;
  align-items: center;
  justify-content: space-between;
  padding: 42px 123px 70px 180px;
}
.highlight-section .highlight-left .title {
  font-size: 3.7em;
  color: black;
}
.highlight-left p {
  margin-top: -20px;
  margin-bottom: 30px;
}
.highlight-left a {
  background: #e02c6d;
  padding: 10px 30px;
  text-decoration: none;
  color: white;
}
.highlight-left a:hover {
  background: black;
}
.highlight-section .highlight-right img {
  width: 95%;
  transition: 0.3s ease-in;
  cursor: pointer;
}
.highlight-section .highlight-right img:hover {
  transform: scale(1.1);
}
/*------- Blog section ------------*/
.section-title {
  text-align: center;
  font-size: 45px;
  color: #e02c6d;
  letter-spacing: 10px;
}
hr {
  width: 30%;
  background: #e02c6d;
}
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  grid-column-gap: 20px;
  grid-row-gap: 15px;
  padding: 42px 123px 70px 180px;
}

.blog {
  display: flex;
  align-items: center;
}
.blog-details {
  line-height: 25px;
}
.blog-details h4 {
  margin-top: -10px;
  cursor: pointer;
}
.blog-details h4:hover {
  color: #e02c6d;
}
.blog-details a {
  background: #e02c6d;
  padding: 10px 30px;
  text-decoration: none;
  color: white;
}

.blog-details a:hover {
  background: black;
}
.blog .blog-image img {
  width: 90%;
  height: 165px;
  transition: 0.2s ease-in-out;
}
.blog .blog-image img:hover {
  transform: scale(1.1);
}

/* Follow us on instagram */
.insta-image {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 5px;
  padding: 20px;
}
.insta-image img {
  width: 100%;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.insta-image img:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
/*--------  Footer  -------*/
.footer {
  text-align: center;
  margin-top: 80px;
}
.footer .footer-image img {
  width: 30%;
}

.footer .fab {
  color: #969bab;
  background: gainsboro;
  padding: 8px;
  border-radius: 50%;
  font-size: 16px;
}
.copyright-text {
  font-size: 18px;
}

/*----------------------------
Media Query
-----------------------------*/

/* For Mobile Device */
@media only screen and (max-width: 680px) {
  /* Common CSS for Mobile */
  .container {
    padding: 0;
  }
  /* Header */
  .main-header {
    padding: 0 10px 0 10px;
  }
  .header {
    padding: 16px 0 0 0;
  }

  /* Nav Menu */
  .nav-menu {
    display: none;
  }
  .mobile-btn {
    visibility: visible;
    font-size: 30px;
    color: whitesmoke;
    cursor: pointer;
  }

  /* Hero Section */
  .hero-section {
    grid-template-columns: repeat(1, 1fr);
    padding-top: 50px;
  }

  .hero-section .hero-left .title {
    font-size: 2.5em;
  }
  .hero-left a {
    padding: 15px 40px;
  }
  .hero-section .hero-right img {
    width: 100%;
  }

  .hero-right {
    padding: 0 10px 30px 10px;
  }
  /* Player section */
  .players {
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 20px;
    padding: 60px 15px 0 15px;
  }

  /* Hight Light Section */
  .highlight-section {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 30px;
    padding: 40px 15px;
  }
  .highlight-section .highlight-left .title {
    font-size: 2em;
  }
  .highlight-section .highlight-right img {
    width: 100%;
  }

  /* Blog Section */
  .section-title {
    font-size: 35px;
  }
  .blogs {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 40px;
    padding: 15px;
  }

  .blog .blog-image img {
    width: 100%;
    height: 185px;
  }
  .blog-details {
    padding: 0 15px;
  }
  .blog-details h4 {
    font-size: 14px;
  }

  /* Follow section */
  .insta-image {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 15px;
  }
  /* Footer section */
  .footer .footer-image img {
    width: 70%;
  }
}

/* For Tablet Device */
@media only screen and (max-width: 992px) and (min-width: 680px) {
  .container {
    padding: 0;
  }
  .header {
    padding: 10px 20px 42px 20px;
    flex-direction: column;
  }

  /* Nav Menu */
  .nav-menu {
    order: 2;
  }
  .nav-menu a {
    margin-right: 13px;
  }
  .btn {
    order: 1;
    margin-bottom: 20px;
  }

  /* Hero Section */
  .hero-section {
    grid-template-columns: repeat(1, 1fr);
    padding: 30px 20px;
  }

  .hero-section .hero-right img {
    width: 100%;
  }
  /* Player Section */
  .players {
    grid-template-columns: repeat(2, 1fr);
    padding: 30px 10px;
  }

  /* Highlight Section */
  .highlight-section {
    grid-template-columns: repeat(1, 1fr);
    padding: 20px 0px 20px 15px;
  }
  .highlight-section .highlight-right {
    margin-bottom: 30px;
  }
  .highlight-section .highlight-right img {
    width: 100%;
  }

  /* Blog Section */
  .blogs {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 10px;
  }
  .blog {
    padding: 30px 15px;
  }

  /* Follower Section */
  .insta-image {
    grid-template-columns: repeat(2, 1fr);
  }
  /* Footer Section */
  .footer .footer-image img {
    width: 70%;
  }
}

/* For Desktop Device */
@media only screen and (max-width: 1400px) and (min-width: 992px) {
  .container {
    padding: 42px 70px 0px 70px;
  }
  .header {
    padding: 42px 70px 25px 70px;
  }
}
